@import url('./__item/photo-grid__item.css');

.photo-grid {
  margin: 92px 48px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 229px 229px 229px;
  grid-gap: 16px;
}
