.cover__background {
  max-width: 1184px;
  height: 740px;
  background-repeat: no-repeat;
  background-image: url('../../../images/__background.svg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
