.cover__background {
  width: 1184px;
  height: 740px;
  background-repeat: no-repeat;
  background-image: url('../../../images/__background.svg');
  background-position: center;
  background-size: cover;
}
