.lead__caption{
/* position: absolute;
width: 183px;
height: 14px;
left: 148px;
top: 1127px; */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 140%;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
}
