.cover__title {
  position: absolute;
  width: 656px;
  left: 264px;
  top: 230px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;

  color: #FFFFFF;


}
