@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__website/place__website.css');
@import url('./__website-url-heading/place__website-url-heading.css');
@import url('./__website-link/place__website-link.css');
@import url('./__paragraphs/place__paragraphs.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__paragraph-2/place__paragraph-2.css');

.place{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 48px;
  column-gap: 40px;
  margin-top: 80px;
}

.place:first-child{
  margin-top:0;
}
